$white: #fff;
$dark: #000;
/*INICIO*/
*{
    box-sizing: border-box;
}
body{
    .logo{
        padding: 20px 0 0 20px;
    }
    /*MENU*/
    .menu{
        float: right;
        padding-right: 100px;
    }
    nav{
        width: 25%;
        position: absolute !important;
        top: 0;
        right: 0;
    }
    .nav-item .nav-link{
        color: #fff !important;
    }
    
    ul ul{
        position: absolute;
       display: none;
    }
    ul ul li {
        display: block;
        background-color: #cdcdcd;
     }
     ul li:hover ul {
        display:block;
     }
     
    .menu ul li a{
        display: inline-block;
    text-decoration: none;
    font-family: "dubai"; 
    color: #000;
    }
    .menu ul li ul li a{
        width: 190px;
    }
    .menu ul li ul li{
        border-top: 1px solid #000;
    }
    a{text-decoration: none;}
    
    .menu ul li a:hover{
        color:#999
    }
    header{
        position: absolute;
        width: 100%;
        border-bottom: 1px solid #cdcdcd;
    }
    
    .portada{
        background-image: url(../img/que-es-el-trading.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    .portada h3{
        padding:20px
    }
    h1{
        font-size: 50px;
        font-family: "oswald";
        margin:0px ;
    }
    h3,h2,h4{
        font-family: "oswald";
        margin-top:0px ;
        text-align: center;
    }
    
    .btn {
        position: relative;
        display: inline-block;
        border: 2px solid #003B6C;
        padding: 13px 45px 12px;
        text-decoration: none;
        font-size: 13px;
        color: #fff;
        letter-spacing: 0.1em;
        font-weight: 500;
        border-radius: 0;
        text-transform: uppercase;
        background-color: #003B6C;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .btn:hover{
        background-color: #ccc;
        transform: scale(1.2);
        transition: ease 0.4s;
    }
    /*NOSOTROS*/
    .texto{
        padding: 50px 20px;
        text-align: justify;
    }
    .youtube{
        display: flex;
        justify-content: center;
        flex-direction:row;
    }
    /*TABLAS*/
    table{
            display: inline-table;
    }
    .tabla{
        height: 500px;
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }
    th{
        font-family: 'Raleway', sans-serif;
        height: 40px;
    }
    
    
    p{
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
    }
    /*PIE DE PÃGINA*/
    .footer-alineado {
        padding: 28px 0;
        background-color: #141414;
        margin: 0;
        text-align: center;
        height: 80px;
    }
    .redes ul li a span{
        font-family: "oswald";
        color:#000;
        padding-top: 15px;
        margin:10px
    }
    .datos-empresa{
        width: 800px;
        float: right;
        padding-left: 20px;
    
    }
    .copy{
        float: left;
        margin-bottom: 0;
        color: #cdcdcd;
    }
    .social {
        margin-top: -7px;
        margin-left: -30px;
    }
    
    .social a {
        font-size: 15px;
        display: inline-block;
        padding: 1px;
        margin-left: 30px;
        margin-top: 7px;
        color: #C2C2C2;
    }
    #fondo_inicio{
        background-image: url(../img/fondo_inicio.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 400px;
    }
    #fondo_inicio h3{
        font-size: 50px;
        color: #fff;
        padding-top: 150px;
    }
    #contact{
        background: url(../img/contact.jpg) center 0 no-repeat;
        background-size: cover;
        background-position: center;
    }
    .overlay{
        background-color: #0007;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        color: #fff;
    }
    .icon-circle, .icon-circle-white {
        display: inline-block;
        text-align: center;
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50%;
        border: 2px solid #003B6C;
    }
    .icon-circle .fa, .icon-circle-white .fa {
        font-size: 40px;
        color: #003B6C;
        vertical-align: middle;
    }
    
    .form-control, textarea.form-control {
        height: 54px;
        color: #9F9F9F;
        border-radius: 0;
        padding-left: 22px;
        text-transform: uppercase;
        color: #141414;
        background-color: transparent;
        border: 2px solid #141414;
        letter-spacing: 0.1em;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: all .15s;
        -o-transition: all .15s;
        transition: all .15s;
    }
    .form-control-white, textarea.form-control-white {
        border-color: #fff;
        color: #fff;
    }
    .btn-b-white {
        border: 2px solid #fff;
        background-color: transparent;
    }
    .btn-b-white:hover, .btn-b-white:focus, .btn-hvr-white:hover, .btn-hvr-white:focus {
        color: #141414;
        background-color: #fff;
        border-color: #fff;
    }
    
    .icon-circle-2 {
        display: inline-block;
        text-align: center;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
    }
    .media-left, .media>.pull-left {
        padding-right: 10px;
    }
    .media-right, .media>.pull-right {
        padding-left: 10px;
    }
    .tarjeta {
        background-color: $dark;
        color: $white;
        align-items: center;
        position: relative;
        padding: 40px 50px;
    margin-bottom: 170px;
    }
    
    .tarjeta__img {
        width: 100%;
        margin-right: 30px;
    }
    
    .tarjeta__titulo {
        font-size:1.5rem;
        margin-bottom: 20px;
    }
    
    .tarjeta__parrafo {
        line-height: 28px;
        font-size:1rem;
    }
    .beneficios__contenido--descr{
        font-size: 13px;
    }
    .beneficios__contenido{
        margin-top:80px;
        
    }
    .beneficios{
        padding-top: 100px;
    }
    .beneficios__contenido--icon{
        position: relative;
        text-align: center;
        color: #003B6C !important;
        font-size: 25px;
    }
    .precios__content{
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        padding: 100px;
    }
    .precios__cuadro{
        width: 50%;

    }
    .precios__box {
        border-color: #003B6C;
        position: relative;
    border: 2px solid #f0f5f9;
    }
    .precios__header{
        background-color: #003B6C;
        color: #fff;
        padding: 35px 20px;
    line-height: 1;
    }
    .precios__header-title{
        font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 8px;
    }
    .precios__header-amount {
        font-size: 50px;
        font-weight: 600;
    }
    .precios__datos{
        font-size: 12px;
    letter-spacing: 0.1em;
    padding: 40px 20px;
    }
    .precios__datos ul li {
        position: relative;
        margin: 0 0 25px 0;
    }
    .precios__datos ul {
        list-style: none;
        padding-left: 0;
    }
    .beneficios__title--texto{
        font-family: 'oswald';
    }
} 
  